

.buttonLong {
    margin: auto;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width:95%;
    margin-bottom: 10px;
  }

  .buttonLong:hover {
    background-color: #f6980c;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

  textarea {
    resize: none;
  }

  .indent {
    margin-bottom: 25px;
  }