.autorization {
    font-family: "Source Sans Pro";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(152, 251, 152, 0.5);
}

.form {
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    align-items: center; 
}

input {
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
}

.auth_button {
    display: block;
    margin: auto;
    border: none;
    padding: 20px;
}