.registration {
    font-family: "Source Sans Pro";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 235, 15, 0.5);

    
}

.form {
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    align-items: center; 
}

input {
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
}

.reg_button {
    display: block;
    margin: auto;
    border: none;
    padding: 20px;
}
