.textAttention {
	color: red ;
	text-align: center;
	font-size: 50px;
}

.posts {
	font-family: "Source Sans Pro";
	display: grid;
	grid-template-columns: repeat(3, 3fr);
	gap: 30px;
    width: 100%;
	margin: 20 0 0 20;
}

.centr {
	display: flex;
	justify-content: center;
}

@media (max-width: 1200px) {
	.posts {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.posts {
		grid-template-columns:  1fr;
	}
}