.header {
    width: 100%;
    background-color: cyan;
    /* background-color: var(--main-panel); */
    padding: 12px 0;
    min-height: 68px;
}

.container {
    /* max-width: 992px; */
    /* width: 95%; */
    /* margin: 0 auto; */
    padding: 0 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    min-width: 200px;
    gap: 10px;
    align-items: center;
    font-size: large;
    font-weight: 100;
}

.title {
    font-size: large;
}

.currentUser {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.avatarIcon {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block; 
    
    overflow: hidden;

    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background: #ccc;

    /* width: 32px;
    height: 32px; */

    width: 50px;
    height: 50px;

    line-height: 32px;

    border-radius: 50%;

    font-size: 18px; 
}

.Iam {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
}