

.header {
    display: flex;
    font-family: "Source Sans Pro";
    width: 100%;
    background-image: url('../../assets/img/Fon\ header.jpg');
    height: 130px;
    padding-left: 50px;
    padding-right: 50px;
}

.header_user {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.flex {
    font-family: "Source Sans Pro";
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
}

.username {
    font-size: 28px;
    color:  #4B0082;
    font-weight: 700;
    
    cursor: pointer;
}

.title {
    font-family: "Source Sans Pro";
    margin: 0;
    color: 	#4B0082;
    margin-right: 70px;
    font-size: 50px;
    font-weight: 700; 
    min-width: 450px;
}

.logo {
    font-family: "Source Sans Pro";
    display: flex;
    min-width: 200px;
    gap: 10px;
    align-items: center;
    font-size: large;
    font-weight: 100;
    cursor: pointer;
}

.currentUser {
    font-family: "Source Sans Pro";
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.avatarIcon {
    font-family: "Source Sans Pro";
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block; 
    
    overflow: hidden;

    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background: #ccc;

    /* width: 32px;
    height: 32px; */

    width: 50px;
    height: 50px;

    line-height: 32px;

    border-radius: 50%;

    font-size: 18px; 
}

.buttonLong {
    margin: auto;
    margin-bottom: 5px;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 10px;
    width:200px;
}

.userdata_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_wrapper {
    position: absolute;
    right: 100px;
}








