.header {
    width: 100%;
    background-image: url('../../assets/img/Fon\ header.jpg');
    padding: 12px 0;
    height: 750px;
}


.container {
    padding: 0 8px;
}

.flex {
    display: flex;
    justify-content: space-between;
    /* justify-content: start; */
    align-items: center;
}

.logo {
    display: flex;
    min-width: 200px;
    gap: 10px;
    align-items: center;
    font-size: large;
    font-weight: 100;
}

.title {
    font-size: large;
}

.currentUser {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.avatarIcon {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block; 
    
    overflow: hidden;

    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background: #ccc;

    /* width: 32px;
    height: 32px; */

    width: 50px;
    height: 50px;

    line-height: 32px;

    border-radius: 50%;

    font-size: 18px; 
}

.MenuAutorization {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    border: solid #23a030 5px;
    background-color: yellow;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.Iam {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}









