.search {
	display: flex;
	width: 100%;
	align-items: center;
	position: relative;
	max-width: 600px;
}

.search__input {
	max-width: 500px;
	border-radius: 24px;
	border: 1px solid transparent;
	outline: none;
	padding: 13px 60px 13px 20px;
	color: #000;
	font-size: 16px;
	line-height: 20px;
	caret-color: #FEBA0C;
	min-width: 100px;
}
.search__input:focus {
	background: #FFFFFF;
	border: 1px solid #FED700;
}

.search__input::placeholder {
	color: #7b8e98;
}

.search__btn {
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	right: 20px;
	display: flex;
}
.search__btn svg {
	fill: #7B8E98;
}
.search__btn_disabled svg {
	fill: #CFD8DC;
}
.search__btn:focus svg{
	fill: #FEBA0C;
}
.search__btn:hover svg{
	fill: #FEBA0C;
}

.search__icon_clear:focus, .search__icon:focus{
	fill: #FEBA0C;
}
.search__icon_clear:hover, .search__icon:hover{
	fill: #FEBA0C;
}

