.modalPost {
    font-family: "Source Sans Pro";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.active {
    font-family: "Source Sans Pro";
    opacity: 1;
    pointer-events: all;
}

.modalPost_content {
    font-family: "Source Sans Pro";
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    transform: scale(0.5);
    transition: 0.4s all;
    height: 90vh;
}

.modalPost_content_active {
    font-family: "Source Sans Pro";
    transform: scale(1);
}

@media (max-width: 540px) {
    .modalPost_content, .modalPost_content_active  {
        width: 80vw;
        height: 80vh;
        min-height: 450px;
    } 
}