
.form {
    font-family: "Source Sans Pro";
    display: 'flex';
    flex-direction: 'column';
}

.image {
    max-width: 320px;
}

input, textarea {
    width: calc(100% - 15px);
    margin-bottom: 10px;
    font-family: "Source Sans Pro";
    padding: 5px;
    display: block;
}

textarea {
    height: 60px;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
}
