
form {
    font-family: "Source Sans Pro";
    display: 'flex';
    flex-direction: 'column';
    box-sizing:border-box;
}
    
form input {
    width: calc(100% - 15px);
}

input {
    font-family: "Source Sans Pro";
    padding: 5px;
    margin: 5px 0;
    display: block;
}

.image {
    width: 460px;
}