
form {
    font-family: "Source Sans Pro";
    display: 'flex';
    flex-direction: 'column';
    /* margin-top: 0em; */
}
    
input {
    font-family: "Source Sans Pro";
    padding: 5px;
    margin: 5px 0;
    display: block;
    
}
.modal-body {
    font-family: "Source Sans Pro";
    padding: 5px;
    font-size: 30px;
    line-height: 1.5715;
    word-wrap: break-word;
}
