.mainContener {
    display: flex;
}

.postContener {
    margin: 0 auto;
}

.postCard{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    background: #fff;
    border-radius: 2px;
    display: grid;
    grid-template-rows: minmax(0px, max-content) 10fr minmax(0px, max-content);
    grid-template-columns: minmax(50px, max-content);
}   

.postContent {
    display: grid;
    grid-template-columns: minmax(400px, 800px) minmax(200px, 400px);
    gap: 10px;
    overflow: hidden;
    
}

.postDescripshion {
    padding: 10px;
    margin-bottom: 20px;
}

.postAutor {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.postAutor img {
    object-fit: cover;
    border-radius:50%;
    width: 40px;
    height: 40px;
    padding-top: 3px;
}

.likeTags {
    display: flex;
    align-items: center;
}

.title {
    font-weight :bold;
    font-size: 16px;
}

.post_tags {
    display: flex;
    flex-wrap: wrap;
    box-sizing: inherit;
    margin-bottom: 10px;
}

.background_text {
    background-color:#23a030;
    color: white;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.buttonLong {
    margin: auto;
    margin-bottom: 15px;
    font-size: 15px;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width:95%;
}

.post_favorite, .post_favorite_active{
    cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	display: flex;	
}

.post_favorite  svg{
    fill: #FFFFFF;
	stroke-width: 1px;
	stroke: #7b8e98;
}

.post_favorite_active svg {
	fill: #F44336;
    border: none;
    stroke-opacity: 0; 
    stroke: none;
    border-width: 0px;
	
}

.like_contener {
    display: flex;
    margin-right: 10px;
}